#title {
    text-align: center;
}

.pokemons {
    list-style: none;
    display: grid;
    grid-template-columns: 1fr;
    padding: 0;
    margin: 0;
}

.pokemon {
    margin: .5rem;
    padding: 1rem;
    border-radius: 1rem;
    background-color: #49D0B0;
    display: flex;
    flex-direction: column;
}

.pokemon .name {
    color: #FFF;
    margin-bottom: 0;
    text-transform: capitalize;

}

.pokemon .number {
    color: #000;
    opacity: .3;
    text-align: right;
    font-size: .625rem;
}

.pokemon .detail {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.types {
    padding: 0;
    margin: 0;
    list-style: none;
}

.type {
    filter: brightness(1.1);
    text-align: center;
    color: #FFF;
    padding: .25rem .5rem;
    margin: .25rem 0;
    font-size: .625rem;
    border-radius: 1rem;
}

.type.fire {
    background-color: #ffafaf;
}

.type.water {
    background-color: #aee1ff;
    color: #494949
}

.type.bug {
    background-color: #4fc9aa;
}

.pokemon .detail img {
    max-width: 100%;
    height: 70px;
    align-self: flex-end;
}

@media screen and (min-width: 380px) {
    .pokemons {
        grid-template-columns: 1fr 1fr;
    }
}

@media screen and (min-width: 576px) {
    .pokemons {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media screen and (min-width: 992px) {
    .pokemons {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}

.pagination {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 1rem;
}

.pagination button {
    padding: .25rem .5rem;
    margin: .25rem 0;
    font-size: .625rem;
    color: #FFF;
    background-color: #6c79db;
    border: none;
    border-radius: 1rem;
}

.normal { background-color: #a6a877; }
.grass { background-color: #77c850; }
.fire { background-color: #ee7f30; }
.water { background-color: #678fee; }
.electric { background-color: #f7cf2e; }
.ice { background-color: #98d5d7; }
.ground { background-color: #dfbf69; }
.flying { background-color: #a98ff0; }
.poison { background-color: #a040a0; }
.fighting { background-color: #bf3029; }
.psychic { background-color: #f65687; }
.dark { background-color: #725847; }
.rock { background-color: #b8a137; }
.bug { background-color: #a8b720; }
.ghost { background-color: #6e5896; }
.steel { background-color: #b9b7cf; }
.dragon { background-color: #6f38f6; }
.fairy { background-color: #f9aec7; }

.detailCard {
    display: flex;
    flex-direction: column;
    margin: 1rem;
    padding: 1rem;
    border-radius: 1rem;
    color: #FFF;
    max-width: 450px;
    width: 100%;
    height: fit-content;
}

.nameAndNumber {
    display: flex;
    flex-direction: column;
}
.detailCard img {
    margin: 0 auto;
    margin-bottom: 1rem;
    max-width: 100%;
    height: 180px;
    align-self: center;
}

.pokemonInfo .types {
    padding: 0;
    margin: 0;
    list-style: none;
}

.material-symbols-rounded {
  margin-bottom: 1rem;
}

.material-symbols-rounded.gender {
    font-size: 1rem;
    margin: 0;
}

.material-symbols-rounded.male {
    color: #7667ff;
}

.material-symbols-rounded.female {
    color: #ff6767;
}

.nameAndNumber {
    padding: 0 1rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.nameAndNumber .name {
    font-size: 2.5rem;
}

.nameAndNumber .number {
    font-size: 1.5rem;
}

.detailCard .types {
    display: flex;
    flex-direction: row;
    padding: 0 1rem;
    margin-bottom: 1rem;
}

.detailCard .types .type {
    margin-right: .5rem;
}

.detailCard .details {
    background-color: #FFF;
    color: #444444;
    border-radius: 1rem;
    padding: 0 2rem;
    padding-bottom: 2rem;
}

.details ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

.details h4 {
    font-size: 1.625rem;
}

.detail {
    margin-top: 2rem;
}

.detailItem {
    margin-top: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.detailItem .item {
    color: #7a7a7a;
}